/* COLOR GLOSSARY */

$gloomy-london: #204f6f;
$sri-lanka-shores: #339899;
$mermaid-scales: #52bf90;
$peas-in-a-pod: #78dd90;
$sea-glass: #c9eccb;

/* FONT GLOSSARY */

$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;

/* WEBSITE SCHEMA */

$title-font: $montserrat;
$subtitle-font: $lora;
$header-font: $montserrat;
$text-font: $lora;
