---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="top-cities section">
  <h2>Ranked Cities</h2>
    <p>Tokyo, Japan</p>
    <p>Delhi, India</p>
    <p>Shanghai, China</p>
    <p>Sao Paulo, Brazil</p>
    <p>Mexico City, Mexico</p>
    <p>Cairo, Egypt</p>
    <p>Dhaka, India</p>
    <p>Mumbai, India</p>
    <p>Beijing, China</p>
    <p>Osaka, Japan</p>
  <div class="links">
    <a href="datapoints.html">World Map</a>
    <a href="newdatapoints.html">Cities</a>
  </div>
</div>

<div class="contact-us section">
  <h2>Contact Me</h2>
  <p>Email: usrida2@illinois.edu</p>
  <p><a href="https://www.facebook.com/groups/760044664509764/">Facebook</a></p>
  <p><a href="https://www.instagram.com/art.umaiyal.sridas/">Instagram</a></p>
</div>
