---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="project-objective section">
  <h2>Cities</h2>
  <p>
    <ol>
      <li>Tokyo, Japan</li>
      <li>Delhi, India</li>
      <li>Shanghai, China</li>
      <li>Sao Paulo, Brazil</li>
      <li>Mexico City, Mexico</li>
      <li>Cairo, Egypt</li>
      <li>Dhaka, India</li>
      <li>Mumbai, India</li>
      <li>Beijing, China</li>
      <li>Osaka, Japan</li>
    </ol>
  </p>
  <div class="links">
    <a href="datapoints.html">Pressure Values</a>
    <a href="newdatapoints.html">Requirements</a>
  </div>
</div>

<div class="data-collection section">
  <h2>Data Collection</h2>
  <p>This is where our data will be.</p>
</div>

<div class="physiotherapist-requirements section">
  <h2>Physiotherapist Requirements</h2>
  <p>This is where the new requirements will be.</p>
</div>
